{
  "env": {
      "production": {
          "presets": [
              "@babel/preset-env",
              "@babel/preset-react",
              "minifi"
          ],
          "plugins": [
              "transform-class-properties"
          ],
      },
      "development": {
          "presets": [
              "@babel/preset-env",
              "@babel/preset-react"
          ],
          "plugins": [
              "transform-class-properties"
          ],
      },
      "test": {
          "presets": [
              "@babel/preset-react",
              [
                  "@babel/preset-env",
                  {
                      "modules": false
                  }
              ]
          ],
          "plugins": [
              "transform-es2015-modules-commonjs",
              "transform-class-properties"
          ]
      }
  }
}